@use '../1-base/variables' as var;

.search-result{
    grid-area: results;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    
    &__list{
        margin-bottom: 2rem;
    }

    &__sort{
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 3.25rem;
        color: var.$color-primary;
        font-weight: 600;
        margin-bottom: 1rem;

        span {
            margin-bottom: 1rem;
        }
    }
}

.sort-list{
    display: flex;
    // justify-content: flex-end;

    &__item{
        background-image: var.$gradient;
        color: white;
        padding: .5rem 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            transform: scale(1.1);
        }
    }

    &__item:not(:last-child){
        margin-right: 1rem;
    }
}

.page-arrows{
    padding: 0 3.5rem;
    font-family: inherit;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__numberPages{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        text-transform: uppercase;
        color: var.$color-primary;
        font-weight: 700;
    }
}

.copyright {
    padding: 0 3.5rem;
    margin-top: 4rem;
    line-height: 1.6;
    font-size: 1.2rem;
    color: var.$color-grey-dark-2;
}
